<div class="container">
  <div class="card-container">
    <div class="card">
      <div class="card-content">
        <section id="Antecedentes">
          <h2>Avance japonés</h2>
          <img src="IMG-20251120-WA0011.jpg" alt="Historia de Nanjing" />
          <p>Tras la captura de Shanghái en noviembre de 1937, el ejército japonés avanzó rápidamente hacia Nankín, la capital china.
          </p>
        </section>
      </div>
    </div>

    <div class="card">
      <div class="card-content">
        <section id="Antecedentes">
          <h2>Orden de Captura</h2>
          <img src="IMG-20251119-WA0009.jpg" alt="55" />
          <p>El 1 de diciembre de 1937, el cuartel general japonés ordenó capturar Nankín.
          </p>
           
        </section>
      </div>
    </div>

    <div class="card">
      <div class="card-content">
        <section id="Antecedentes">
          <h2>Ultimátum y Rechazo</h2>
          <img src="IMG-20251119-WA0007.jpg" alt="02" />
          <p>El 9 de diciembre, Japón exigió la rendición de Nankín en 24 horas, pero la solicitud fue rechazada.
          </p>
        </section>
      </div>
    </div>

     <div class="card">
      <div class="card-content">
        <section id="Antecedentes">
          <h2>Captura de la Ciudad</h2>
          <img src="IMG-20251120-WA0003.jpg" alt="02" />
          <p> El 13 de diciembre de 1937, las tropas japonesas capturaron Nankín, marcando el inicio de la masacre.
          </p>
        </section>
      </div>
    </div>
<div class="card">
      <div class="card-content">
        <section id="Antecedentes">
          <h2>Estrategia y Determinación</h2>
          <img src="IMG-20251120-WA0004.jpg" alt="02" />
          <p>Avanzar sobre Nankín fue parte de una estrategia para someter China y dominar la región. El ejército japonés avanzó con determinación, confiado por victorias previas.</p>
        </section>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <section id="Antecedentes">
          <h2>Impacto de Caida</h2>
          <img src="IMG-20251120-WA0002.jpg" alt="02" />
          <p> 
            La captura de Nankín fue un punto crítico en la guerra, con valor simbólico y estratégico. Su caída devastó la moral china y su capacidad de resistir.
          </p>
        </section>
      </div>
    </div>
    