<div class="container">
  <div class="card-container">
    <div class="card">
      <div class="card-content">
        <section id="Antecedentes">
          <h2>Duración de las Atrocidades</h2>
          <img src="masacre.jpg" alt="Historia de Nanjing" />
          <p>
             La masacre duró aproximadamente seis semanas, con atrocidades disminuyendo a fines de enero de 1938.
          </p>
        </section>
      </div>
    </div>

    <div class="card">
      <div class="card-content">
        <section id="Antecedentes">
          <h2>Entierro de Victimas</h2>
          <img src="IMG-20251120-WA0012.jpg" alt="55" />
          <p>
            En febrero de 1938, el gobierno chino comenzó a enterrar los cuerpos de las víctimas.
          </p>
           
        </section>
      </div>
    </div>

    <div class="card">
      <div class="card-content">
        <section id="Antecedentes">
          <h2>Fin Oficial</h2>
          <img src="IMG-20251120-WA0010.jpg" alt="02" />
          <p>
            En enero de 1938, los invasores japoneses declararon el fin de la masacre; la Zona de Seguridad de Nankín dejó de funcionar.
          </p>
        </section>
      </div>
    </div>

     <div class="card">
      <div class="card-content">
        <section id="Antecedentes">
          <h2>Estabilización</h2>
          <img src="IMG-20251120-WA0007.jpg" alt="02" />
          <p> 
            La situación se estabilizó con el establecimiento de un gobierno chino liderado por los japoneses en febrero de 1938, aunque la ocupación y la violencia persistieron hasta marzo.
          </p>
        </section>
      </div>
    </div>
<div class="card">
      <div class="card-content">
        <section id="Antecedentes">
          <h2>Proceso de Estabilización</h2>
          <img src="IMG-20251120-WA0013.jpg" alt="02" />
          <p>
            La estabilización fue lenta por la devastación. La población enfrentó escasez, falta de vivienda y violencia.
          </p>
        </section>
      </div>
    </div>

    <div class="card">
      <div class="card-content">
        <section id="Antecedentes">
          <h2>Legado de la Ocupación</h2>
          <img src="IMG-20251120-WA0008.jpg" alt="02" />
          <p> 
            La ocupación continuó tras la masacre, con opresión y control. La cicatriz perdura en la memoria y relaciones sino-japonesas.
          </p>
        </section>
      </div>
    </div>
    